
.metadata/.plugins/org.eclipse.core.resources/.projects/SampleSprintYse/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SampleSprintYse/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SampleSprintYse/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/3.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SampleSprintYse/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.history/c7/50da753df430001c101d88cc46040f35
.metadata/.plugins/org.eclipse.core.resources/.projects/SampleSprintYse/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
*.ini
*.gen
*.cfs
*.del
*.txt
.metadata/version.ini
.metadata/.plugins/org.eclipse.m2e.core/nexus/a9f0a9f87d2b0abfb0c72cb478700bfb/segments_4p
.metadata/.plugins/org.eclipse.m2e.core/nexus/a9f0a9f87d2b0abfb0c72cb478700bfb/segments_4o
.metadata/.plugins/org.eclipse.m2e.core/nexus/a9f0a9f87d2b0abfb0c72cb478700bfb/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_8
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_5
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.log
*.txt
